html {
background-color: bisque;
}
header {
    color:rgb(7, 253, 89);
}
p {
    color:purple;
}
ul li {
    color:rgb(74, 128, 69);
}
#box {
    color:rgb(44, 6, 6);
}
div h3,h4 {
    color: rgb(231, 25, 231);
}
footer> ol {
    color:gray;
}
#footer {
    color: cyan;
}
footer> h5 {
    color:yellow;
}
.wrapper {
    color: rgb(240, 135, 15);
}
